    <script type="text/javascript" charset="utf-8">
     var syslogFacilities = [
        ["kern",  "kernel messages"],
        ["user",  "user-level messages"],
        ["mail",  "mail system"],
        ["daemon",  "system daemons"],
        ["auth",  "security/authorization messages"],
        ["syslog",  "messages generated internally by syslogd"],
        ["lpr",  "line printer subsystem"],
        ["news",  "network news subsystem"],
        ["uucp",  "UUCP subsystem"],
        ["clock",  "clock daemon"],
        ["sec",  "security/authorization messages"],
        ["ftp",  "FTP daemon"],
        ["ntp",  "NTP subsystem"],
        ["audit",  "log audit"],
        ["alert",  "log alert"],
        ["clock",  "clock daemon (note 2)"],
        ["local0",  "local use 0  (local0)"],
        ["local1",  "local use 1  (local1)"],
        ["local2",  "local use 2  (local2)"],
        ["local3",  "local use 3  (local3)"],
        ["local4",  "local use 4  (local4)"],
        ["local5",  "local use 5  (local5)"],
        ["local6",  "local use 6  (local6)"],
        ["local7",  "local use 7  (local7)"],
    ]; 

    </script>
    <div id="search-header">
      <form action="/search" method="post" id="search-form">
        <input type="text" name="search[query]">
        <select name="search[operator]">
          <option value="or">OR</option>
          <option value="and" selected>AND</option>
        </select>
        <select name="search[facility]" id="search-facilities">
        </select>
        <input type="submit" value="Search"/>
      </form>
    </div>

    <div id="search-results">
    </div>

    <script type="text/javascript" charset="utf-8">
      $(function() {
        for (var i = 0 ; i < syslogFacilities.length; i++) {
          $('#search-facilities').append($('<option/>').val(syslogFacilities[i][0]).text(syslogFacilities[i][1]));
        }
        
        $('#search-form').submit(function(event) {
          event.preventDefault();
          $.post('/search', $(this).serialize(), function(data) {
            $('#search-results').html('');
            $('#search-results').append(
              $('<pre/>').html(data.results.map(function(result) {
                return result.fields.originalMessage;
              }).join("\n"))
            );
          });
        });
      });
    </script>
