    <script type="text/javascript" charset="utf-8">
     var syslogFacilities = [
        ["", "--"], 
        ["kern",  "kernel messages"],
        ["user",  "user-level messages"],
        ["mail",  "mail system"],
        ["daemon",  "system daemons"],
        ["auth",  "security/authorization messages"],
        ["syslog",  "messages generated internally by syslogd"],
        ["lpr",  "line printer subsystem"],
        ["news",  "network news subsystem"],
        ["uucp",  "UUCP subsystem"],
        ["clock",  "clock daemon"],
        ["sec",  "security/authorization messages"],
        ["ftp",  "FTP daemon"],
        ["ntp",  "NTP subsystem"],
        ["audit",  "log audit"],
        ["alert",  "log alert"],
        ["clock",  "clock daemon (note 2)"],
        ["local0",  "local use 0  (local0)"],
        ["local1",  "local use 1  (local1)"],
        ["local2",  "local use 2  (local2)"],
        ["local3",  "local use 3  (local3)"],
        ["local4",  "local use 4  (local4)"],
        ["local5",  "local use 5  (local5)"],
        ["local6",  "local use 6  (local6)"],
        ["local7",  "local use 7  (local7)"],
     ]; 

    </script>

    <div id="container">
      <div id="search-results" class="column">
        <pre id="search-output">
        </pre>
      </div>

      <div id="search-bar" class="column">
        <a href="http://basho.com"><img src="/riak_logo.png" width="180" align="center" class="logo center"/></a>
        <div class="form center">
          <form action="/search" method="post" id="search-form">
            <label for="search_query">Query</label>
            <input type="text" name="search[query]" id="search_query">

            <p style="margin-bottom:0px"><a href="#" id="advanced-query-toggle">Advanced</a></p>
            <div id="advanced-query" style="display:none">
              <fieldset>
                <legend>Additional Parameters</legend>
                <label for="search_from">From</label>
                <input type="text" name="search[from]" value="" id="search_from" class="timepicker"/>
                <label for="search_from">To</label>
                <input type="text" name="search[to]" value="" id="search_to" class="timepicker"/>
                <label for="search_facility">Facility</label>
                <select name="search[facility]" id="search-facilities">
                </select>
              </fieldset>

              <fieldset>
                <legend>MapReduce</legend>
                <label style="width: auto" for="search_map_reduce">Run MapReduce?</label>
                <input type="checkbox" value="1" name="search[map_reduce]" id="search_map_reduce"/>
                <label for="search_map_function">Map Function</label>
                <select name="search[map_function]" id="search_map_function" class="function">
                  <option value="">--</option>
                  <option value="fetch_host">Fetch Hostname</option>
                  <option value="date_and_hour">Fetch Date and Hour</option>
                  <option value="hour_of_the_day">Fetch Hour of the Day</option>
                </select>
                <label for="search_reduce_function">Reduce Function</label>
                <select name="search[reduce_function][]" id="search_reduce_function" class="function">
                  <option value="">--</option>
                  <option value="group_by_values">Group by Values</option>
                  <option value="top_five">Extract Top Five</option>
                </select>
                <select name="search[reduce_function][]" class="function">
                  <option value="">--</option>
                  <option value="group_by_values">Group by Values</option>
                  <option value="top_five">Extract Top Five</option>
                </select>
 
                <label style="width: auto" for="search_graph">Graph Results?</label>
                <input type="checkbox" value="1" name="search[graph]" id="search_graph"/>
                
              </fieldset>
            </div>
            <input type="submit" value="Search"/>
          </form>
        </div>

        <div id="footer">
          Powered by:<br/>
          <a href="http://nodejs.org"><img src="/nodejs_logo.png" width="100" class=""/></a>
        </div>
      </div>
    </div>

