    <script type="text/javascript" charset="utf-8">
     var syslogFacilities = [
        ["kern",  "kernel messages"],
        ["user",  "user-level messages"],
        ["mail",  "mail system"],
        ["daemon",  "system daemons"],
        ["auth",  "security/authorization messages"],
        ["syslog",  "messages generated internally by syslogd"],
        ["lpr",  "line printer subsystem"],
        ["news",  "network news subsystem"],
        ["uucp",  "UUCP subsystem"],
        ["clock",  "clock daemon"],
        ["sec",  "security/authorization messages"],
        ["ftp",  "FTP daemon"],
        ["ntp",  "NTP subsystem"],
        ["audit",  "log audit"],
        ["alert",  "log alert"],
        ["clock",  "clock daemon (note 2)"],
        ["local0",  "local use 0  (local0)"],
        ["local1",  "local use 1  (local1)"],
        ["local2",  "local use 2  (local2)"],
        ["local3",  "local use 3  (local3)"],
        ["local4",  "local use 4  (local4)"],
        ["local5",  "local use 5  (local5)"],
        ["local6",  "local use 6  (local6)"],
        ["local7",  "local use 7  (local7)"],
     ]; 

    </script>

    <div id="container">
      <div id="search-results" class="column">
        <pre id="search-output">
        </pre>
      </div>

      <div id="search-bar" class="column">
        <a href="http://basho.com"><img src="/riak_logo.png" width="180" align="center" class="logo center"/></a>
        <div class="form center">
          <form action="/search" method="post" id="search-form">
            <label for="search_query">Query</label>
            <input type="text" name="search[query]" id="search_query">
           <a href="#" id="advanced-query-toggle"><label>Advanced</label></a>
            <div id="advanced-query" style="display:none">
            <label for="search_from">From</label>
            <input type="text" name="search[from]" value="" id="search_from" class="timepicker"/>
            <label for="search_from">To</label>
            <input type="text" name="search[to]" value="" id="search_to" class="timepicker"/>
 
              <label for="search_operator">Operator</label>
              <select name="search[operator]">
                <option value="or">OR</option>
                <option value="and" selected>AND</option>
              </select>
              <label for="search_facility">Facility</label>
              <select name="search[facility]" id="search-facilities">
              </select>
            </div>
            <input type="submit" value="Search"/>
          </form>
        </div>

        <div id="footer">
          Powered by:<br/>
          <a href="http://nodejs.org"><img src="/nodejs_logo.png" width="100" class=""/></a>
        </div>
      </div>
    </div>

    <script type="text/javascript" charset="utf-8">
      $(function() {
        for (var i = 0 ; i < syslogFacilities.length; i++) {
          $('#search-facilities').append($('<option/>').val(syslogFacilities[i][0]).text(syslogFacilities[i][1]));
        }
        
        $('#search-form').submit(function(event) {
          event.preventDefault();
          $.post('/search', $(this).serialize(), function(data) {
            $('pre#search-output').html('').html(data.results.map(function(result) {
                return result.fields.originalMessage;
            }).join("\n"));
          });
        });

        $('#search_query').focus();

        $('#advanced-query-toggle').click(function(event) {
          event.preventDefault();
          $('#advanced-query').toggle();
        });

        $('.timepicker').datetimepicker();
      });
    </script>
