<html>
  <head>
    <title>
      Search syslog with ease. Scaling provided by Node.js and Riak Search
    </title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/css/smoothness/theme.css" type="text/css" media="screen" charset="utf-8"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>
    <script src="/js/jquery-ui-timepicker-addon.js"></script>
    <script src="/js/raphael-min.js"></script>
    <script src="/js/g.raphael-min.js"></script>
    <script src="/js/g.bar-min.js"></script>
    <script src="/js/g.pie-min.js"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>
