<html>
  <head>
    <title>
      Search syslog with ease. Scaling provided by Node.js and Riak Search
    </title>
    <style type="text/css" media="screen">
      div#search-results {
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        height: 80%;
      }
      
      div#search-header {
        height: 100px;
        background-color: #e5e5e5;
        margin: 0px auto;
        overflow: auto;
      }

      body {
        margin: 0px 0px;
        font-size: 12px
      }

      div.form.center {
        width: 300px;
        margin-left: 110px;
        margin-top: 5px;
      }

      input[type=text], select {
        display: inline-block;
        width: 180px;
      }

      label {
        float: left;
        width: 70px;
        margin-top: 3px;
      }
      
      img {
        margin: 10px;
      }

      form {
        margin: 0px;
      }
      
      pre {
        margin: 5px;
      }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>
    <script src="/js/jquery-ui-timepicker-addon.js"></script>

  </head>
  <body>
    <%- body %>
  </body>
</html>
