<div id="center-frame">
  <p><a href="http://basho.com"><img src="/logo.png"></a></p>
  <div id="login">
    <div id="login-form">
      <form method="post" action="/login">
        <label for="user">Username:</label>
        <input type="text" name="user" id="user"/>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password"/>
        <input type="submit" value="Login"/>
      </form>
    </div>
  </div>
</div>
